.sidebar {
    flex: 1;
    border-right: 0.5px rgb(231, 228, 228);
    min-height: 100vh;
    background-color: white;
    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 40px;
        .logo {
            width: 75px;
            height: 65px;
        }
    }
    .center {
        padding-top: 15px;
        padding-left: 10px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                padding: 15px;
                cursor: pointer;
                &:hover {
                    background-color: #ece8ff;
                }
                .link {
                    text-decoration: none;
                }
                .icon {
                    font-size: 25px;
                    color: #012c56;
                }
                span {
                    font-size: 18px;
                    font-weight: 500;
                    color: #012c56;
                    margin-left: 10px;
                }
            }
        }
    }
}