.navbar-color .nav-link {
  color: #f8f9fa; 
}

.nav-dropdown-color .dropdown-menu {
  background-color: #f8f9fa; 
}

.container-color {
  background-color: #012c56; 
}

.logo-container {
  width: 80px;
}

.logo-image {
  width: 100%;
  height: auto;
}

