*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 20px;
}

.pagina-asistencia{
	display: flex;
	height: 100vh;
	width: 100%;
	/* background-color: #a6bff0; */
	padding: 0.5rem;
}

.cabezera {
	width: 9rem;
	/* background-color: #213c4e; */
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.img-cabezera{
	width: 7rem;
	margin: 0.5rem; 
}

.contenido {
	background-color: #f5f4f4;
	width: 100%;
	box-shadow: inset 0px 0px 20px #012b561b;
}

.icon {
	font-size: 25px;
	color: #012c56;
}

.caja-componente {
	padding: 1.5rem 4rem;
}

.btn-d,
select, textarea {
	padding: .5rem;
	background-color: #ffffff;
	font-size: 0.8rem;
	height: 2.3rem;
	border: 1px solid #dbdbdbd6;
	border-radius: 5px;
}

.enlaces {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

.btn-cabezara:hover {
	background-color: #ece8ff;
}

.btn-cabezara {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.4rem;
	border: none;
	color: #012c56;
	background-color: transparent;
	padding: 1rem 0;
	padding-left: 0.3rem;
}

/* .btn-d-cabezara:hover {
	color: #45b0e5;
} */

.btn-d:hover {
	background-color: #45b0e5;
	box-shadow: 1px 5px 10px 2px #00000033;
	border: 1px solid #a6bff0;
}

.btn-d:active {
	background-color: #F2B749;
	color: #F2F2F2;
}