.formContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  min-width: 300px;
  width: 60%;
  max-width: 400px;
  padding: 40px;
  margin: 0 auto;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.logoContainer .logo {
  max-width: 60%;
  height: auto;
}

.formContainer form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formContainer form .inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  padding: 10px 15px;
  border-radius: 8px;
}

.formContainer form .inputContainer .left {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 80%;
}

.formContainer form .inputContainer .left label {
  font-size: 11px;
}

.formContainer form .inputContainer .left input {
  border: none;
  font-weight: bold;
  background-color: inherit;
  font-size: 13px;
  color: black;
}

.formContainer form button {
  margin-top: 10px;
  border: none;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #0071bc;
  border-radius: 8px;
  transition-duration: 0.3s;
}

.formContainer form:active {
  transform: scale(0.98);
}

.formContainer .nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-left: auto;
}



/* .login-container {
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1571801565886-4e6a5f9b4da8');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .login-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .login-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .login-form-container h2 {
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .form-group {
    text-align: left;
  }
  

  

  .Background {
    background-image: url('https://www.smartstat.it/upload/DSC100068126.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    width: 29rem;
  }
  
  .logo {
    width: 50%;
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 20px;
  }
  
  .btn-primario {
    background-color: #0071bc;
    color: white;
    border-color: #0071bc;
    border-radius: 5px;
    border-color: white;
    border: 0px;
    margin-top: 10px;
  }
  
  .btn-tertiario {
    background-color: white;
    color: black;
    border: 0px;
    border-radius: 5px;
    border-color: white;
    margin-top: 10px;
  }
  
  .btn-tertiario:hover {
    background-color: #0071bc;
    color: white;
  }
  
  .btn-primario:hover {
    background-color: #47ae6a;
    border-color: #47ae6a;
  }
  
 
   */
