.home {
   display: flex;

   .homeContainer {

      flex: 6;
      background-color: #f8f9fa;

      .top {
         padding: 40px;

         h1 {
            font-size: 35px;
         }
      }

      .widgets {
         display: flex;
         padding: 20px;
         gap: 20px;
         
      }

      // .listContainer {
      //    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      //    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      //    padding: 20px;
      //    margin: 20px;  

      //    .listTitle {
      //       font-weight: 500;
      //       color: black;
      //       margin-bottom: 15px;
      //    }
      // }

    

   }
}