.caja-titulos{
	display: flex;
}

.titulo{
	background-color: #D9B814;
	font-size: 18px;
	text-align: center;
	padding: 0.8rem;
	border: 1px solid rgba(6, 6, 6, 0.731);
}

.caja-columnas{
	border: 1px solid rgba(6, 6, 6, 0.731);
	display: flex;
}

.columna{
	display: flex;
	flex-direction: column;
	flex-grow: 2;	
}

.celda-contenido{
	background-color: #ffffff;
	font-size: 16px;
	border: 1px solid rgba(6, 6, 6, 0.171);
	padding: 0.6rem;
	flex-grow: 1;
}

.celda-form{
	text-align: center;
}

.caja-input{
	display: inline;
}

label{
	display: inline-block;
	margin: 0 0.8rem;

}

.input-nota{
	width: 2.5rem;
}

.caja-btn{
	display: flex;
	justify-content: center;
	padding-top: 1.5rem;
}
