  .perfil-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    height: 500px;
    width: 800px;
    margin-top: 100px
  }
  

  .perfil-header {
    background-color:#012c56;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
  }
  
  
  .perfil-nombre {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
  }
  
  .perfil-tipo {
    margin: 0;
    color: #fff;
    
  }
  
  .perfil-body {
    padding: 20px;
    
  }
  
  .perfil-info,
  .perfil-contacto {
    margin-bottom: 10px;
  }
  